{% extends "base.html" %}
{% block content %}
ิ<br>
<div class="container">
    
    <div class="row">
        <div class="col-8">
            <p class='text-success'>{{ message }}</p>
            {% if manage_type == 'product' %}
                <form action="{% url 'edit' manage_type product.id %}" method="post" class='form'>
            {% endif %}

            {% if manage_type == 'type' %}
                <form action="{% url 'edit' manage_type type.id %}" method="post" class='form'>
            {% endif %}

            {% csrf_token %}
                {% if manage_type == 'product' %}
                    <label class='mt-3' for="input_name">ชื่อสินค้า : </label>
                    <input class="form-control" type="text" name="input_name" id="input_name" value='{{ product.name }}'>
                {% endif %}
                {% if manage_type == 'type' %}
                    <label class='mt-3' for="input_name">ประเภทสินค้า : </label>
                    <input class="form-control" type="text" name="input_name" id="input_name" value='{{ type.name }}'>
                {% endif %}

                <label class='mt-3' for="input_desc">คำอธิบาย : </label>
                {% if manage_type == 'product' %}
                    <textarea class="form-control" rows="5" id="input_desc" name='input_desc'>{{ product.description }}</textarea>
                {% endif %}
                {% if manage_type == 'type' %}
                    <textarea class="form-control" rows="5" id="input_desc" name='input_desc'>{{ type.description }}</textarea>
                {% endif %}

                {% if manage_type == 'product' %}
                    <label class='mt-3' for="input_price">ราคา : </label>
                    <input class="form-control" type="ืีทิำพ" name="input_price" id="input_price" value='{{ product.price }}'>
                    <label class='mt-3' for="input_type">คำอธิบาย : </label>
                    <select name="input_type" id="input_type" class='form-control'>
                    {% for t in type %}
                        
                        <option value="{{ t.id }}" name='{{ t.id }}' {% if t.id == product.ProductType_id %} selected {% endif %}>{{ t.name }}</option>

                    {% endfor %}

                {% endif %}
                </select>
                <br>
                <button type="submit" class="btn btn-primary form-control mr-3">Save</button>
            </form>
        </div>
    </div>
</div>
{% if user.is_authenticated %}
{% endif %}
{% endblock %}

{% block footer %}
Footer of index page!!!
{% endblock %}