{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="container-fluid">
        {% if manage == 1 %}

        <form action="{% url 'manage' 1 %}" method="post" class='form-inline w-100'>

        {% elif manage == 2 %}

        <form action="{% url 'manage' 2 %}" method="post" class='form-inline w-100'>

        {% endif %}
                {% csrf_token %}
                <div class="row w-100">

                    <div class="col-2">
                        <div class="form-group">
                            {% if manage == 2 %}
                            <a href="{% url 'manage' 1 %}">
                                <button type=button class="btn btn-secondary form-control mt-3  from-control"
                                    >ประเภทสินค้า</button>
                            </a>
                            {% elif manage == 1 %}
                            <a href="{% url 'manage' 2 %}">
                                <button type=button class="btn btn-secondary form-control mt-3  from-control"
                                    >รายการสินค้า</button>
                            </a>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="form-group">
                            {% if manage == 1 %}
                            <label for="inputname">ซื่อสินค้า : </label>
                            <input type="text" name="inputname" id="inputname" class="form-control m-3"
                                value='{{ search_name }}'>
                            {% endif %}
        
        
                            <label for="inputtype">ประเภทสินค้า : </label>
                            <select name="inputtype" id="inputtype" class="form-control m-3">
                                <option value="">ทั้งหมด</option>
                                {% for t in type %}
                                <option value="{{ t.name }}" {% if search_type == t.name %} selected {% endif %}>{{ t.name }}
                                </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary form-control mr-3">search</button>
                        </div>
                    </div>
                    <div class="col-2 text-right">
                        {% if manage == 1 %}
                            <a href="{% url 'create' manage %}">
                                <div class="btn btn-success mt-3">สร้างสินค้า</div>
                            </a>
                            {% else %}
                            <a href="{% url 'create' manage %}">
                                <div class="btn btn-success mt-3">สร้างประเภทสินค้า</div>
                            </a>
                            {% endif %}
                    </div>

                    
                </div>

            </form>
    </div>



    {% if manage == 1 %}
    <div class='overflow-auto' style='height:615px;'>
        <table class='table'>
            <thead class="thead-dark">
            <tr>
                <th>Product name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Price</th>
                <th>
                </th>
            </tr>
            </thead>
            {% for p in product%}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.ProductType }}</td>
                <td>{{ p.price }}</td>
                <td class='text-center'>

                    <a href="{% url 'edit' manage p.id %}">
                        <div class="btn btn-warning" id="{{p.id}}">Edit</div>
                    </a>
                    <a href="{% url 'delete' manage p.id %}">
                        <div class="btn btn-danger" id="{{p.id}}">delete</div>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    {% elif manage == 2 %}
    <div class='overflow-auto' style='height:615px;'>
        <table class='table'>
            <tr>
                <td>Type name</td>
                <td>Description</td>
                <td></td>
            </tr>
            {% for t in type_want%}
            <tr>
                <td>{{ t.name }}</td>
                <td>{{ t.description }}</td>
                <td>

                    <a href="{% url 'edit' manage t.id %}">
                        <div class="btn btn-warning" id="{{t.id}}">Edit</div>
                    </a>
                    <a href="{% url 'delete' manage t.id %}">
                        <div class="btn btn-danger" id="{{t.id}}">delete</div>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
    </div>
    </form>
</div>
{% if user.is_authenticated %}
{% endif %}
{% endblock %}

{% block footer %}
Footer of index page!!!
{% endblock %}